<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blink</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link href='https://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://i.icomoon.io/public/ddc73b7975/Blink/style.css">
    <link rel="stylesheet" type="text/css" href="/angular-material/angular-material.css">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-aria/angular-aria.js"></script>
    <script src="/angular-material/angular-material.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/clm/clmtrackr.js"></script>
    <script src="/clm/models/model_pca_20_svm.js"></script>
    <script src="/modernizr.js"></script>
    <script src="/main.js"></script>
</head>

<body ng-app="BlinkApp" layout="column">
    <div class="md-primary">
        <div layout="row" id="page-content" ng-model="sidebarActive">
            <bl-sidebar id="sidebar"></bl-sidebar>
            <div flex="100" id="content" ui-view></div>
            <div id="nav-btns" ng-controller="LinkCtrl">
                <md-button class="nav-btn">Toggle</md-button>
                <md-button class="nav-btn">Webcam</md-button>
            </div>
            <logo class="pull-right"><img src="http://i.imgur.com/yt37067.gif"> Blink </logo>
        </div>
    </div>
</body>

</html>
