.vertical-center {
	//padding-top: 5%;

}

.center-align {
	width: 100%;
	margin: 10px 0px;
	div {
		margin: 5px 5px;
	}
}

.message {
	background: nth($primary, 1);
	padding: 10px;
	div {
		background: nth($background, 2);
		width: 75%;
		height: 250px;
		text-align: center;
		padding-top: 30px;
	}
}

.blink-box {
	height: 250px;
	width: 250px;
	background: nth($primary, 1); 
	//padding-bottom: 50%;
	line-height: 250px;
	padding: 0 10px;
	margin: 0 10px;
}

.detail-info {
	//text-align: left;
	font-size: 1em;
	font-weight: bold;
}

.primary-info {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

.center-box {
	//min-height: 300px;
	border: 3px solid nth($accent, 1);
}

.eye-reading {
	height: 50px;
	width: 75px;
	margin: 10px;
	padding: 10px;
}

.center-btn {
	margin: 0 auto;
	//padding-top: 125px;
	//width: 20%;
}

.status-display {
	font-weight: bold;
	
}

.cal-display {
	div {

		background: nth($primary, 4); 
		border: 1px solid nth($accent, 1);
	}
	p {
		color: nth($text, 1);
	}
}