.camera-window {
    padding: 0px;
    margin-left: -30px;
    display:inline-block;
}

.webcam-container {
	width: 300px;
	margin: 0 auto;
}

.video-center{
    position: absolute;
    display: block;
	border: 2px solid $light;
	box-shadow: 2px 2px 3px 2px $accentD;

}

.canvas-center{
    position: relative;
}
