// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=33l0u0kejN53YZt9oUpiCDImuv5 */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #77C9D4;	// Main Primary color */
$color-primary-1: #DCF7FA;
$color-primary-2: #A7E2EB;
$color-primary-3: #4FAAB7;
$color-primary-4: #2F8B98;

$color-secondary-1-0: #FFDB8D;	// Main Secondary color (1) */
$color-secondary-1-1: #FFF5DF;
$color-secondary-1-2: #FFE7B4;
$color-secondary-1-3: #FFD06B;
$color-secondary-1-4: #F8C14A;

$color-secondary-2-0: #FF958D;	// Main Secondary color (2) */
$color-secondary-2-1: #FFE2DF;
$color-secondary-2-2: #FFBAB4;
$color-secondary-2-3: #FF756B;
$color-secondary-2-4: #F8564A;



// As RGBa codes */

$rgba-primary-0: rgba(119,201,212,1);	// Main Primary color */
$rgba-primary-1: rgba(220,247,250,1);
$rgba-primary-2: rgba(167,226,235,1);
$rgba-primary-3: rgba( 79,170,183,1);
$rgba-primary-4: rgba( 47,139,152,1);

$rgba-secondary-1-0: rgba(255,219,141,1);	// Main Secondary color (1) */
$rgba-secondary-1-1: rgba(255,245,223,1);
$rgba-secondary-1-2: rgba(255,231,180,1);
$rgba-secondary-1-3: rgba(255,208,107,1);
$rgba-secondary-1-4: rgba(248,193, 74,1);

$rgba-secondary-2-0: rgba(255,149,141,1);	// Main Secondary color (2) */
$rgba-secondary-2-1: rgba(255,226,223,1);
$rgba-secondary-2-2: rgba(255,186,180,1);
$rgba-secondary-2-3: rgba(255,117,107,1);
$rgba-secondary-2-4: rgba(248, 86, 74,1);