$success: rgba(155, 222, 172, 0.6);
$dark: #000411;
$light: #FCF4EF;
$grey: #454851;
$border: #6D938F;
$blue: #9CD3CD;

#grid-row {
div{
    color: blue;
    line-height: 250px;
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
}
}
#box-row {
div{
    line-height: 83.33px;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
}
}



.grid-item {
    height: 250px;
    border: 1px solid $dark;
}



.active-box {
    background-color: red;
    box-shadow: 0 15px 15px $dark;
    z-index: 10;
}


.selected-letter {
    background-color: #5bc0de;
    color: black;

}

