/*$success: rgba(155, 222, 172, 0.6);
$dark: #000411;
$light: #FCF4EF;
$grey: #454851;
$border: #6D938F;
$blue: #9CD3CD;*/

.grid-row {
    div{
        //color: nth($text, 2);
        line-height: 250px;
        text-align: center;
        font-weight: bold;
        font-size: 1.8em;
    }
}
.letter-grid {
    div{
        line-height: 83.33px;
        text-align: center;
        font-weight: bold;
        font-size: 1em;
    }
}

.single-letter {
    //color: nth($purple, 1) !important;
    text-align: center;
    width: 100%;

};




.grid-item {
    height: 250px;
    border: 2px solid nth($text, 1);
    background: nth($purple, 1);
}



.grid-empty {
	background: none;
	border: none;
}

.grid-word {
	border: none;
	background: none;
	//color: nth($text, 1);
}



.active-box {
    background-color: nth($text, 1);
    box-shadow: 3px 3px 3px nth($purple, 1);
    border: 2px solid nth($purple, 1);
    //color: nth($text, 1);
    z-index: 10;
}


.selected-letter {
    background-color: #5bc0de;
    //color: black;
}



#single-letter {
    color: red;
}



.cal-row {
    line-height: 250px;
    text-align: center;
    font-weight: bold;
}


.cal-item {
    height: 250px;
   
}


.cal-active {
    //border: 2px solid nth($background, 1);
    //background-color: nth($text, 1);
    color: white;
}

.calibration-box {

}



















