#grid-row{
	height: 200px;
	text-align: center;
	line-height: 200px;
	margin: 10px;
	background: nth($primary, 7);
	div {
		width: 30%;
		margin: 5px;
		font-size: 2em;
		font-weight: 2em;
		color: $secondaryText;
	}
	div.colored {
		background-color: $accentL;
	}
}

#box {
	background: nth($accent, 7);
}

.active-box {
	div {
		background-color: nth($primary, 2) !important;
	}
}

.corner-container {
	border: 4px solid $accentD;
	padding: 20px;
}

.box-container {
	text-align: center;
	line-height: 100%;
}

.contrast {
  filter: grayscale(50%) !important;
}
