.highlight-row {
	background: #646464 !important;
    //transition: background 0.25s ease-out;
    transition: all 0.3s ease-in-out;
	color: white;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    // box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
}

.highlight-item {
	background: nth($blue, 2) !important;
    box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease-in;
}

.selected-item {
	color: black !important;
    box-shadow: none;
    background: white !important;
    transition: none;
    border: 2px solid nth($blue, 2);
}

.text-selected {
    color: nth($blue, 1);
    text-shadow: 3px 3px nth($background, 1);
    text-decoration: underline;
    text-decoration-color: nth($purple, 1);
}

.text-highlight {
    color: nth($purple, 1) !important;
}





// .highlight-item-add {
//   -webkit-transition:all ease 0.5s;
//   -moz-transition:all ease 0.5s;
//   -o-transition:all ease 0.5s;
//   transition:all ease 0.5s;
// } 


// .highlight-item-remove {
//   -webkit-transition: background 2s, -webkit-transform 2s;
//     transition: background 2s, transform 2s;
// }

// .highlight-item-add {
//   -webkit-transition: background 2s, -webkit-transform 2s;
//     transition: background 2s, transform 2s;
// }

// .highlight-row-add {
//    -webkit-animation-name: example; /* Chrome, Safari, Opera */
//     -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
//     animation-name: example;
//     animation-duration: 4s;
// }


// .highlight-row-remove {
//     -webkit-animation-name: example; Chrome, Safari, Opera
//     -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
//     animation-name: example;
//     animation-duration: 4s;
// }

// /* Chrome, Safari, Opera */
// @-webkit-keyframes example {
//     from {}
//     to {background-color: rgba(0,0,0, 0.7) !important;}
// }







