.highlight-row {
	background: rgba(0,0,0, 0.7) !important;
	color: white;
}

.highlight-item {
	background: nth($purple, 1) !important;
}

.selected-item {
	color: nth($blue, 1) !important;
    background: white !important;
}

.text-selected {
    color: nth($blue, 1);
    text-shadow: 3px 3px nth($background, 1);
    text-decoration: underline;
    text-decoration-color: nth($purple, 1);
}

.text-highlight {
    color: nth($purple, 1) !important;
}
