.letter-row {
    justify-content: space-between;
    text-align: center;
}

.inputBox {
    font-size: 40px;
    line-height: 2.5;
}

.keys {
    text-align: center;
    font-size: 20px;
    background-color: white;
    color: nth($primary, 1);
}

.highlighted-row {
    background: nth($primary, 2);
    color: white;
}

.highlighted-letter {
    background: white;
    color: nth($primary, 1);
}



#bottom-keyboard {
    background: white;
}

.keyboard-row {
    height: 9vh;
    margin: 2px 5px;
    padding: 5px 0px;
   // margin:
}


.row-box {
    padding: 8px;
    margin: 0px 5px;
    line-height: 50px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    background-color: white;
    color: nth($primary, 1);
}

.keyboard-row:last-of-type  {
    .row-box{
        background: rgba(220,220,220, 0.8);
    }
}

.keyboard-row:first-of-type  {
    .row-box{
        background: rgba(220,220,220, 0.8);
    }
}
.hover-row {
    background: nth($primary, 1) !important;
    color: white;
    //background: nth($primary, 1) !important;
}
.letter-hover {
    color: nth($primary, 1);
    border: 1px solid nth($primary, 1);
    background: white !important;
    //box-shadow: 2px 2px 2px nth($primary, 1);
}
.selected {
    color: nth($primary, 1) !important;
    background: nth($background, 2) !important;
}






