#keyboard {

}

#speaker-icon {
    font-size: 2em;
}

#bottom-keyboard {
    background: white;
}

#input-box {
    margin: 0 45px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.text-area {
    font-family: $keyboard;
    font-size: 1.8em;
}

.text-container {
    padding: 5px 0px;
}

.keyboard-row:last-of-type  {
    .row-box{
        background: rgba(220,220,220, 0.8);
    }
}

.keyboard-row:first-of-type  {
    .row-box{
        float: left !important;
        background: rgba(220,220,220, 0.6);
    }
}

.keyboard-row {
    height: 9vh;
    margin: 2px 30px;
    padding: 5px 0px;
    font-family: $keyboard;
    font-size: 1.4em;
    text-align: center;
    font-weight: bold;
}

.row-box {
    padding: 0px;
    margin: 0px 10px;
    line-height: 2.5em;
    background-color: white;
    color: nth($text, 3);
}
