#content {
	padding: 35px 20px;

}

.box-elem {
	padding: 5px 10px;
}


#scroll-table {

}


#page-content {
	height: 100%;
}


#sidebar-wrapper {
	height: 100%;
}

#sidebar {
}


#body-container {
	height: 100%;
}


.full-height {
	height: 100%;
}

.full-width {
	width: 100% !important;
}