md-tabs-content-wrapper {
    height: 600px;
}

.icon-user-plus:before {
    content: "\e909";
    color: nth($text, 1);;
}

md-tab-label:nth-child(2) {
    background-color: white !important;
}

.after-tabs-area > span {
    margin-top: 25px;
    padding-right: 15px;
    vertical-align: middle;
    line-height: 30px;
    height: 100px;
}
