#settings-panel {
    height: 90vh;
    align-items: stretch;
    padding: 10px;
}

.settings-row {
    padding-bottom: 2em;
}

img.md-card-image {
    width: auto;
}

md-card {
    color: black;
    width: 100%;
}

.md-button{
    font-size: 1.8em;
    color: nth($text, 3)!important;
}

.md-button.md-fab {
    background-color: white;
}

.uppercase::first-letter {
  text-transform: uppercase;
}
