md-sidenav {
    position: absolute;
    padding-top: 10px;
    padding-left: 15px;
    background: linear-gradient(nth($primary, 9), nth($primary, 2));
    height: 100vh !important;
    box-shadow: 5px 3px 3px nth($background, 8);
    logo {
        color: nth($background, 4);
    }
}

#welcomeMessage {
    margin-top: 0px;
    font-style: italic;
}

logo {
  width: 100%;
  padding-top: 5px;
  font-family: 'Belgrano', serif !important;
  font-size: 66px;
  color: nth($primary, 8);
  font-weight: 400;
  letter-spacing: 2px;
  img {
    width: 10%;
  }
}

#sidebar-container {
    display: block;
    width: 25%;
}

#locked-sidebar {
    width: 100%;
    margin: 0px;
}

#nav-btn {
    font-size: 2em;
    font-size: 3.5vh;
    width: 100%;
    height: auto;
    min-height: 6vh;
    background-color: transparent;
    color: nth($background, 10);
}

#sidebar-webcam {
    position: absolute;
    top: -75px;
    left: -40%;
}

#sidebar-canvas {
    position: absolute;
    left: -40%;
    top: -75px;
    z-index: 10;
}

#sidebar-webcam-container {
    position: absolute;
    left: 2px;
    width: 98%;
    margin: 0px;
    border: 2px solid nth($accent, 2);
    overflow: hidden;
}

.nav-bottom {
    padding-top: 5px;
}

.btn-highlight {
    background-color: nth($accent, 3) !important;
}
