md-sidenav {
    position: absolute;
    padding-top: 10px;
    //padding-left: 15px;
    background: linear-gradient(nth($primary, 1), nth($text, 1));
    height: 100vh !important;
    border-right: 2px solid nth($background, 1);
    //box-shadow: 2px 3px 3px $tempA;
}

#welcomeMessage {
    margin-top: 0px;
    font-style: italic;
}

logo {
  width: 100%;
  padding-top: 5px;
  font-family: 'Belgrano', serif !important;
  font-size: 66px;
  color: nth($text, 1);
  font-weight: 400;
  letter-spacing: 2px;
}

#webcam-directive {
    display: block;
    width: 100%;

}

#sidebar-container {
    display: block;
    width: 23%;
}

#locked-sidebar {
    width: 100%;
    margin: 0px;
}

#nav-btn {
    font-size: 1.5em;
    width: 90%;
    height: auto;
    text-align: left;
    padding: 5px 10px;
    //background-color: nth($accent, 1);
    //color: nth($text, 1);
}

.std-btn {
    font-size: 2em;
    background-color: white !important;
    color: nth($primary, 1) !important;
}



#sidebar-webcam-container {
    position: relative;
    border: 2px solid nth($accent, 1);

    width: 98%;
    margin: 0 auto;
    overflow: hidden;
}

#sidebar-webcam {
    position: absolute;
    //top: -75px;
    //left: -40%;
}

#sidebar-canvas {
    position: absolute;
    // left: -40%;
    // top: -75px;
    z-index: 10;
}

#canvas-overlay {
    position: absolute;
    // left: -40%;
    // top: -75px;
    z-index: 900;
}

.nav-bottom {
    //padding-top: 5px;
}

.static-btn {
    position: absolute;
    bottom: 10px;
}

.btn-highlight {
    background-color: nth($primary, 1) !important;
    color: white !important;
}
