md-sidenav {
    padding-top: 20px;
    background: nth($background, 9);
    height: 100vh !important;
    //border-right: 1px solid nth($primary, 2);
    box-shadow: 2px 2px 2px nth($accent, 2);
    //width: 10vw !important;
}

#sidebar-container {
    display: block;
    width: 25%;
}

#locked-sidebar {
    width: 100%;
    margin: 0px;
}

#nav-btn {
    font-size: 2em;
    width: 70%;
    height: 8%;
    padding-top: 8%;
    padding-left: 10px;
    margin-left: 15%;
    background-color: nth($accent,6);
    color: nth($text, 9);
}
#sidebar-webcam {
    position: absolute;
    left: -40%;
    top: -75px;
}
#sidebar-canvas {
    position: absolute;
    left: -40%;
    top: -75px;
    z-index: 10;
}

#sidebar-webcam-container {
    position: absolute;
    left: 2px;;
    width: 98%;
    //height: 150px;
    margin: 0px;
    border: 2px solid nth($accent, 2);
    overflow: hidden;
    background-color: nth($background,4);
}

.nav-bottom {
    padding-top: 20px;
}

.sidebar-logo {
	margin-top: -10px;
	margin-bottom: -10px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 200px;
}

.btn-highlight {
	background-color: nth($background, 3) !important;
}

