#nav-btns {
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 250px;
	height: 70px;
	padding: 10px 15px;
	background: nth($accent,9);
	border-radius: 3px;
	box-shadow: -2px 2px 2px nth($text,1)
}


.nav-btn-small {
	background: nth($background, 3);
	color: nth($primary,2);
}