.webcam-corner-container {
	width: 300px;
	//margin: 0 auto;
    float: right;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#corner-webcam {
    position: absolute;
    display: block;
	border: 2px solid $light;
	box-shadow: 2px 2px 3px 2px $accentD;

}

#corner-canvas {
    position: relative;
}

#webcam-background {
    position: absolute;
    z-index: 5;
    top: 225px;
    left: 535px;
    opacity: 0.7;
}

#webcam-bg {
    z-index: 5;
}

#canvas-bg {
    z-index: 5;
}

#webcam-overlay {
    z-index: 10;
    div {
        z-index: 10;
        // opacity: 0.8;
    }
}