#about {
    margin: 0 auto;
    width: 90%;
    @include clearfix;

    table, th {
        border: none;
        padding-top: 2em;
    }
    img {
        max-width: 390px;
        max-height: 30vh;
    }
    td {
        font-size: 1.05em;
        vertical-align: top;
    }
    h3 {
        font-family: 'Belgrano', serif !important;
        font-size: 26px;
    }
}

.about-row {
        height: 20vh;
    }
