<section id="about">
<table border="2">
<tr><h3>About Us:</h3></tr>
<tr>
<td><iframe src="//giphy.com/embed/12Vvpxe2St2Y6s" width="360" height="225" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></td>
<td>Iris Chang is a dog whisperer and enjoys doing parkour in elevators.</td>
</tr>
<tr>
<td><iframe src="//giphy.com/embed/Wkn3sMKDZrrVK" width="360" height="225" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></td>
<td>Justin Isaf is a board game guru and enjoys mixing coffee with oatmeal.</td>
</tr>
<tr>
<td><iframe src="//giphy.com/embed/Wkn3sMKDZrrVK" width="360" height="225" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></td>
<td>Dane Tomseth is a master of the outdoors and enjoys filming wipeout videos of his friends.</td>
</tr>
</table>
</section>
