

<div flex layout="column" layout-align="center" class="vertical-center">
	<div class="message md-whiteframe-5dp" ng-show="showMessage" flex layout="row" layout-align="center">
		<div ng-style="confirmBox" class="message md-whiteframe-10dp">
			<h2>Prepare To Select Page</h2>
			<h2><span style="color:red"><strong>{{countDown}}</strong></span></h2>
		</div>
	</div>
	<div ng-hide="showMessage" flex layout="row" layout-align="center">
		<div ng-style="maxReady" class="blink-box detail-info md-whiteframe-10dp">
			Max: {{maxCount.toFixed(0)}}%
		</div>
		<div ng-style="blinkReady" class="blink-box primary-info md-whiteframe-10dp">
			<p>Blink: {{confirmBlink}}</p>
		</div>
		<div ng-style="minReady"  class="blink-box detail-info md-whiteframe-10dp">
			Min: {{minCount.toFixed(0)}}%
		</div>
	</div>
	<div flex layout="row" layout-align="center">

		<div ng-style="blinkReady" class="eye-reading md-whiteframe-10dp">
			{{leftEye}}
		</div>

		<div ng-style="blinkReady" class="eye-reading md-whiteframe-10dp">
			{{rightEye}}
		</div>

	</div>

	<div flex layout="row" layout-align="center">
		<div>
		<md-button class="md-raised md-accent" ng-click="startCalibration()">Start</md-button>
		</div>
		<div>
		<md-button class="md-raised md-accent" ng-click="calibrationFinished()">Finished</md-button>
		</div>
		<div>
		<md-button class="md-raised md-accent" ng-click="end()">End</md-button>
		</div>
	</div>

</div>


