<!-- Single Box -->
<div class="row row-centered" id="box-row">
    <div class="col-xs-4" ng-class="{'active-box': selectedBox == 0}">{{elem[0]}}</div>
    <div class="col-xs-4"></div>
    <div class="col-xs-4" ng-class="{'active-box': selectedBox == 1}">{{elem[1]}}</div>
</div>
<div class="row row-centered" id="box-row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4" ng-class="{'active-box': selectedBox == 2}">{{elem[2]}}</div>
    <div class="col-xs-4"></div>
</div>
<div class="row row-centered" id="box-row">
    <div class="col-xs-4" ng-class="{'active-box': selectedBox == 3}">{{elem[3]}}</div>
    <div class="col-xs-4"></div>
    <div class="col-xs-4" ng-class="{'active-box': selectedBox == 4}">{{elem[4]}}</div>
</div>
