<!-- Single Box -->
<div class="row row-centered letter-grid">
    <div class="col-xs-4 letter-item" ng-class="{'active-box': selectedBox == 0}">{{letters[0]}}</div>
    <div class="col-xs-4 letter-item"></div>
    <div class="col-xs-4 letter-item" ng-class="{'active-box': selectedBox == 1}">{{letters[1]}}</div>
</div>
<div class="row row-centered letter-grid">
    <div class="col-xs-4 letter-item"></div>
    <div class="col-xs-4 letter-item"></div>
    <!-- <div class="col-xs-4" ng-class="{'active-box': selectedBox == 2}">{{letters[2]}}</div> -->
    <div class="col-xs-4 letter-item"></div>
</div>
<div class="row row-centered letter-grid">
    <div class="col-xs-4 letter-item" ng-class="{'active-box': selectedBox == 3}">{{letters[3]}}</div>
    <div class="col-xs-4 letter-item"></div>
    <div class="col-xs-4 letter-item" ng-class="{'active-box': selectedBox == 4}">{{letters[4]}}</div>
</div>
