<div class="jumbotron">
<div class="home-text">
    <h1>Welcome to Blink!</h1>
    <p>Blink is an open-source assistive communication tool developed for individuals living with paralysis or Locked-In Syndrome (LIS).</p>
    <p>LIS is a medical condition in which a patient is conscious but unable to communicate verbally due to complete bodily paralysis. However, many individuals retain the ability to perform eye movements, and that movement is enough for us to enable vital communication - with effective communication techniques survival rates can increase to 80%.</p>
    <p>Most communication tools for LIS patients cost tens of thousands of dollars, and are rarely covered by insurance. With this in mind, we set out to build a tool able to run on any commodity laptop using only a webcam, providing an easy-to-use and accessible platform for anyone.</p>
    <p>Our primary design goal was to transform complex computer vision into a simple, self-configuring communication app navigable solely with eye blinks and able to run on low-resolution webcams.</p>
    <p>Key features include:</p>
    <ul>
        <li>Customizable eye, pupil, brow and mouth tracking to give a range of interactive options depending on the severity of paralysis (modified clmTracker)</li>
        <li>Automatic calibration to personalize responsiveness to each user's unique range of motion and abilities (custom)</li>
        <li>Multiple keyboard types and layouts to accommodate personal preferences and communication styles (custom)</li>
        <li>Autocomplete and next-word prediction capacities which learn over time, optimizing efficiency and saving as many "keystrokes" (blinks) as possible (custom)</li>
        <li>Basic chat and social networking features to connect users with each other (want to say anything about community-building here?) (custom)</li>
    </ul>
    <p>For more insight into LIS, watch (https://www.ted.com/talks/kitra_cahana_my_father_locked_in_his_body_but_soaring_free) or listen (http://www.npr.org/2015/01/09/375928581/locked-man).</p>
    </div>
</div>
