<!-- <img id="homepage" src="http://i.imgur.com/MpGkPa1.jpg?1" alt="homepage"> -->

 <div layout="column" class="zero">
  <div layout="row" layout-wrap>
  <div flex="66" class="boxA">
    <input class="form-control"></input>
  </div>
  <div flex="33" class="boxA">
    <md-button class="md-raised md-accent" ng-click="openBottomSheet()">Open</md-button>
  </div>
  <div flex="50" class="boxA">
  </div>
  <div flex class="boxA">
    Texttt
    <md-icon md-font-icon="classname" />
  </div>
</div>
 </div>

