<!-- <md-content class="md-primary">
<table border="2">
    <tr ng-repeat="row in alphabet">
        {{row}}
            <td ng-repeat="letter in row" ng-class="{'selected' : letter === current[0]}">
                {{letter}}
            </td>
    </tr>
</table>
</md-content> -->

<!-- <div flex class="md-primary md-whiteframe-10dp">
    <div layout="row" layout-wrap layout-margin>
        <bl-box ng-repeat="row in alphabet" flex="10"></bl-box>
    </div>
    <div id="box-cont" style="width:300px; height:225px" class="md-whiteframe-10dp"></div>
</div>


{{word.join("")}} -->
<!--
<div id="box" class="box-container md-whiteframe-10dp" style="height: {{boxHeight}}; line-height: {{boxHeight}}">
Box
</div> -->
