<div class="md-whiteframe-10dp">
    <md-content class="md-padding" style="height:95vh">
        <md-tabs class="md-accent" md-selected="data.selectedIndex" md-align-tabs="top">
            <md-tab id="tab1">
                <md-tab-label>All Feeds</md-tab-label>>
                <md-tab-body>
                    <md-list>
                        <md-list-item class="md-3-line md-long-text" ng-repeat="post in allPosts">
                            <div>
                                <img ng-src="{{post.author.profilePicture}}" class="md-avatar" />
                                <span class="icon-user-plus" ng-click="addFriend(post.author._id)"></span>
                            </div>
                            <div class="md-list-item-text">
                                <h3>{{ post.author.firstName }} {{post.author.lastName[0]}}.</h3>
                                <p>{{post.content}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-tab-body>
            </md-tab>
            <md-tab id="tab2">
                <md-tab-label>My Feeds</md-tab-label>
                <md-tab-body>
                    <md-list>
                        <md-list-item class="md-3-line md-long-text" ng-repeat="post in myFeed">
                            <div>
                                <img ng-src="{{post.author.profilePicture}}" class="md-avatar" />
                            </div>
                            <div class="md-list-item-text">
                                <h3>{{ post.author.firstName }} {{post.author.lastName[0]}}</h3>
                                <p>{{post.content}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-tab-body>
            </md-tab>
            <md-tab id="tab3">
                <md-tab-label>My Messages</md-tab-label>
                    <md-tab-body>
                        <md-list>
                        <md-list-item class="md-3-line md-long-text" ng-repeat="message in allMessages">
                            <div>
                                <img ng-src="{{message.author.profilePicture}}" class="md-avatar" />
                            </div>
                            <div class="md-list-item-text">
                                <h3>{{ message.author.firstName }} {{message.author.lastName[0]}}</h3>
                                <p>{{message.content}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                    </md-tab-body>
            </md-tab>
            <md-tab id="tab4">
                <md-tab-label>New Private Message</md-tab-label>
                <md-tab-body>
                    <bl-private-message></bl-private-message>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
