<div layout="column" layout-margin>
    <div flex id="toast-box">
        <form>
            <md-input-container class="md-block">
                <label>Message</label>
                <input name="Text" ng-model="wordInput" class="inputBox" flex="80">
                <md-button ng-click="browZero()" class="md-raised md-primary">
                    ZERO
                </md-button>
            </md-input-container>
        </form>
    </div>
    <div flex>
        <div class="webcam-container">
            <video id="webcam" class="video-center box-center" autoplay width="300px" height="225px"></video>
            <canvas id="canvas" class="canvas-center box-center" width="300px" height="225px"></canvas>
        </div>
    </div>
    <div flex>
            <div flex layout="row" ng-repeat="row in alphabet" class="md-primary letter-row" layout-wrap layout-margin ng-class="{'highlighted-row': $index === currentRow}">
                <div flex class="keys md-whiteframe-3dp" ng-repeat="letter in row" ng-class="{'highlighted-letter' : letter === currentLetter, 'selected' : letter === selected}">
                    {{letter}}
                </div>
            </div>
        </div>
</div>
{{word.join("")}}
