
<!-- <button class="btn btn-primary" ng-click="browZero()">ZERO</button> -->

<div layout="column" layout-margin>
  <div flex>
    <form>
      <md-input-container class="md-block">
      <label>Description</label>
      <input name="Text" ng-model="wordInput" flex="80">
      <md-button ng-click="browZero()" class="md-raised md-accent">
      ZERO
    </md-button>
  </md-input-container>
</form>
</div>
<div flex>
  <div class="webcam-container">
    <video id="webcam" class="video-center box-center" autoplay width="300px" height="225px"></video>
    <canvas id="canvas" class="canvas-center box-center" width="300px" height="225px"></canvas>
  </div>
</div>
<div flex>
  <table border="2">
   <tr ng-repeat="row in alphabet">
    {{row}}
    <td ng-repeat="letter in row" ng-class="{'highlighted' : letter === current, 'letter-row' : letter%1==0, 'selected' : letter === selected}">
     {{letter}}
   </td>
 </tr>
</table>
</div>
</div>

