<div class="content-padding">
    <div flex-xs flex-gt-xs="35" layout="column" class="pull-right" ng-cloak>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{name}}</span>
                    <span class="md-subhead">Member</span>
                </md-card-title-text>
                <md-card-title-media>
                    <img class="md-media-lg card-media" ng-src="{{user.profilePicture}}" class="md-card-image" alt="Profile Picture">
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
                <p class="md-subhead">Keyboard Speed:
                    <p class="uppercase">{{user.keyboardSpeed}}</p>
                </p>
                <p class="md-subhead">Selecting with:
                    <p class="uppercase">{{user.trackingFeature}}</p>
                </p>
            </md-card-content>
        </md-card>
    </div>
    <div id="settings-panel" flex-gt-xs="65">
        <div class="settings-row">
                <h1 ng-class="{'text-selected': selections.row === 0}">Keyboard Speed</h1>
            <md-button ng-class="{'md-fab': true, 'selected-item': (speed == user.keyboardSpeed), 'text-highlight' : (speed === selections[0])}" ng-repeat="speed in speeds" ng-click="setSpeed(speed)">{{speed}}{{keyboardSpeed}}</md-button>
        </div>

        <div class="settings-row">
            <h1 ng-class="{'text-selected': selections.row === 1}">Feature Tracking</h1>
        <md-button ng-class="{'selected-item': (feature == user.trackingFeature), 'text-highlight': ($index == selections[1])}" ng-repeat="feature in features" ng-click="setFeatures(feature)">
            {{feature}}
        </md-button>
        </div>

        <div class="settings-row">
            <h1 ng-class="{'text-selected': selections.row === 2}">Back to Nav</h1>
        </div>
    </div>
