<div flex-xs flex-gt-xs="25" layout="column" class="pull-right" ng-cloak>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{name}}</span>
                    <span class="md-subhead">Member</span>
                </md-card-title-text>
                <md-card-title-media>
                    <img class="md-media-lg card-media" ng-src="{{user.profilePicture}}" class="md-card-image" alt="Profile Picture">
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
              <p class="md-subhead">Keyboard Speed: <p class="uppercase">{{user.keyboardSpeed}}</p></p>
              <p class="md-subhead">Selecting with: <p class="uppercase">{{user.trackingFeature}}</p></p>
            </md-card-content>
        </md-card>
</div>

<md-toolbar flex-gt-xs="75" layout="column" class="userOptions">
    <h1 class="md-toolbar-tools">
      <span>EDIT USER SETTINGS</span>
    </h1>
  </md-toolbar>
  <md-tabs md-stretch-tabs md-selected="selections.selectedTab">
     <md-tab label="Keyboard Speed" ui-sref="settings.keyboard" ng-class="{'highlighted' : selections.selectedTab=== 0}"></md-tab>
     <md-tab label="Feature Selection" ui-sref="settings.features" ng-class="{'highlighted' : selections.selectedTab === 1}"></md-tab>
     <md-tab label="NAV" ng-class="{'highlighted' : selections.selectedTab === 2}"></md-tab>
  </md-tabs>
  <div id="content" ui-view flex> </div>
