<!-- Locked Open  -->
<!-- <md-sidenav md-is-locked-open="true" class="md-primary md-sidenav-left" md-component-id="left"> -->
<div id="sidebar">
    <logo class="pull-right">Blink</logo>
    <div>
            <button class="nav-btn" ng-repeat="item in items"  ui-sref="{{ item.state }}" ng-class="{'nav-highlight' : $index === selectedLink}">{{item.label}}</button>
    </div>

    <div class="web-box">
     <bl-sidebar-webcam ng-style="webcamDir" id="webcam-directive"></bl-sidebar-webcam>
     </div>




    <!-- <md-button style="text-align:left" class="md-raised static-btn" id="nav-btn" ng-click="toggleCaregiver()"><span ng-hide="$root.caregiver">Caregiver</span><span ng-show="$root.caregiver">Patient</span></md-button> -->

</div>
<!-- </md-sidenav> -->
