<!-- Locked Open  -->
<md-sidenav id="locked-sidebar" md-is-locked-open="true" class="md-primary md-sidenav-left" md-component-id="left">
    <logo class="pull-right">Blink</logo>
    <div class="dynamicBox">
            <md-button class="md-raised std-btn" id="nav-btn" ng-repeat="item in items"  ui-sref="{{ item.state }}" ng-class="{'btn-highlight' : $index === selectedLink}">{{item.label}}</md-button>

    </div>
    <div class="dynamicBox">
    <!-- <md-button style="text-align:left" class="md-raised static-btn" id="nav-btn" ng-click="toggleCaregiver()"><span ng-hide="$root.caregiver">Caregiver</span><span ng-show="$root.caregiver">Patient</span></md-button> -->
    </div>
    <bl-sidebar-webcam ng-style="webcamDir" id="webcam-directive"></bl-sidebar-webcam>
</md-sidenav>
