<div layout="column" layout-margin>
        <div flex id="input-box">
            <form>
                <span ng-show="speaking" id="speaker-icon" class="glyphicon glyphicon-volume-up pull-right "></span>
                <md-input-container class="md-block text-container">
                    <label>Message</label>
                    <textarea name="Text" rows="5" md-maxlength="150" ng-model="wordInput" class="text-area"  flex="100">
                    </textarea>
                </md-input-container>
                <!-- <md-intput-container class="md-block">
                    <md-button ng-click="say()" class="md-raised primary-btn">Say</md-button>
                    <md-button ng-click="start()" class="md-raised primary-btn">+</md-button>
                    <md-button ng-click="stop()" class="md-raised primary-btn">-</md-button>
                </md-intput-container> -->
            </form>
        </div>
    <div flex id="keyboard">
        <div flex layout="row" layout-align="center" ng-repeat="(key, val) in keyboard" class="keyboard-row">
            <div flex="20" class="md-whiteframe-8dp row-box" ng-repeat="letter in keyboard[key]['letters']" ng-class=" {'highlight-item': (letter ===   keyboard[key]['letters'][scopeValue[1]] && {{key}} === scopeValue[0]), 'highlight-row': {{key}} === scopeValue[0], 'selected-item': ($index === selected[1] && {{key}} === selected[0])}">{{letter}}</div>
        </div>
    </div>
</div>
