@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

logo {
  padding: 10px;
  font-family: 'Belgrano', serif;
  font-size: 62px;
  color: white;
  font-weight: 400;
  letter-spacing: 2px;
}

$primary: #673AB7;
$dark: #311B92;
$light: #B39DDB;
$secondaryText: #FAFAFA;
$background: white;
$accentP: #4CAF50;
$accentL: #A5D6A7;
$accentD: #1B5E20;

@import 'custom/angular_material';
@import 'material/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'custom/keyboard';
@import 'custom/camera';
@import 'custom/layout';
@import 'custom/sidebar';
@import 'custom/corners';
@import 'custom/home';
@import 'custom/webcam';


* {
  box-sizing: border-box;
}

body {
  height: 100vh;
	//background-color: $accentL;
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}
