@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

$primary: #607D8B;
$dark: #455A64;
$light: #CFD8DC;
$secondaryText: #727272;
$background: #CFD8DC;
$accentA: #03A9F4;
$accentB: #B6B6B6;

@import 'directives/main';
@import 'material/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'custom/keyboard';
@import 'custom/camera';
@import 'custom/layout';
@import 'custom/sidebar';
@import 'custom/corners';


* {
  box-sizing: border-box;
}

#bodyContainer {
	background-color: $background;
	border: 5px solid $accentB;
	padding: 20px 5px;
	height: 100%;
}

body {
	background-color: $dark;
	padding: 10px;
	//height: 100%;
  position:fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
}

// body {
//   background: #fdfdfd;
// }



#main {
  padding-top: 60px;
  margin: 0 auto;
}



